<!DOCTYPE html>

<html lang="en">

<head>
    <title>Doct*Auto</title>
    <meta charset="utf-8">
    <meta name="author" content="pixelhint.com">
    <meta name="description" content="La casa free real state fully responsive html5/css3 home page website template" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>

    <section class="hero">
        <header>
            <div class="wrapper">
                <a href="#">
                    <img src="img/logo.png" class="logo" alt="" titl="" />
                </a>
                <a href="#" class="hamburger"></a>
                <nav>
                    <ul>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                    <a href="#" class="login_btn">Login</a>
                </nav>
            </div>
        </header>
        <!--  end header section  -->

        <section class="caption">
            <h2 class="caption">DOCT* AUTO</h2>
            <h3 class="properties">Pour qu'elle ne vous fasse plus le coup de la panne</h3>
        </section>
    </section>
    <!--  end hero section  -->




    <!-- <app-recherche></app-recherche> -->

    <router-outlet></router-outlet>

    <footer>
        <div class="wrapper footer">
            <ul>
                <li class="links">
                    <ul>
                        <li>
                            <a href="#">A propos</a>
                        </li>
                        <li>
                            <a href="#">En cas de problème</a>
                        </li>
                        <li>
                            <a href="#">Terms</a>
                        </li>
                        <li>
                            <a href="#">Politique de confidentialité</a>
                        </li>
                        <li>
                            <a href="#">Contactez-nous!</a>
                        </li>
                    </ul>
                </li>

                <li class="links">
                    <ul>
                        <li>
                            <a href="#">Trouvez votre annonce</a>
                        </li>
                        <li>
                            <a href="#">Mazda</a>
                        </li>
                        <li>
                            <a href="#">Volkswagen</a>
                        </li>
                        <li>
                            <a href="#">Ford</a>
                        </li>
                        <li>
                            <a href="#">...</a>
                        </li>
                    </ul>
                </li>

                <li class="links">
                    <ul>
                        <li>
                            <a href="#">Nantes</a>
                        </li>
                        <li>
                            <a href="#">Tours</a>
                        </li>
                        <li>
                            <a href="#">Paris</a>
                        </li>
                        <li>
                            <a href="#">Kikoo</a>
                        </li>
                        <li>
                            <a href="#">...</a>
                        </li>
                    </ul>
                </li>

                <li class="links">
                    <p>Doct'Auto est un site qui vous permet de trouver les défauts récurrents de modèles automobiles. A vous, après, d'effectuer les vérifications nécessaires à l'achat de votre véhicule!</p>
                    <ul>
                        <li>
                            <a href="http://facebook.com/DoctAuto" class="facebook" target="_blank"></a>
                        </li>
                        <li>
                            <a href="http://twitter.com/DoctAuto" class="twitter" target="_blank"></a>
                        </li>
                        <li>
                            <a href="http://plus.google.com/PasDeGoogle+" class="google" target="_blank"></a>
                        </li>
                        <li>
                            <a href="#" class="skype"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="copyrights wrapper">
            Copyright Â© 2015
            <a href="http://pixelhint.com" target="_blank" class="ph_link" title="Download more free Templates">Pixelhint.com</a>. All Rights Reserved.
        </div>
    </footer>
    <!--  end footer  -->

</body>

</html>