
    <a routerLink=''>Retour à la recherche</a>

    <div class="table-responsive" id="tableau">          
        <table class="table">
          <thead>
            <tr>
              <th>element</th>
              <th>defaut</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= "let carac of caracs" >
              <td>{{carac.element}}</td>
              <td>{{carac.defaut}}</td>
            
              
            </tr>
          </tbody>
        </table>

